@import "./bootstrap-variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* React Pro Sidebar variables */
$sidebar-bg-color: $primary !default;
$sidebar-color: darken($white, 10%) !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: $white !default;
$submenu-bg-color: darken($sidebar-bg-color, 10%) !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;


@import "../../node_modules/react-pro-sidebar/dist/scss/styles.scss";

.pro-icon {
    font-size: 1.5em;
}

.pro-menu-item {
    list-style: none;
}

.pro-sidebar .pro-menu a.active {
    color: $highlight-color;
}